body {
	background-color: rgb(245,242,236);
	margin: 0;
	padding: 12px;
	color: rgb(40,40,40);
	font-family: "Source Sans 3", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

p, h1, h2, a, li, table {
	font-size: 20px;
	line-height: 24px;
}

p, h1, h3 {
	padding: 0 0 12px 0;
	margin: 0;
}

h1 {
	font-weight: 800;
}

h2 {
	font-weight: 800;
	padding: 0 24px 96px 0;
	margin: 0;
	letter-spacing: 1px;
	text-transform: lowercase;
}

h3 {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 1px;
}

a {
	color: rgb(40,40,40);
	text-decoration: underline;
}

a:hover {
	background-color: rgba(0,0,0,.05)
}

div {
	padding: 0;
	margin: 0;
}

img, video {
	width: 100%;
	height: auto;
	object-fit: contain;
	padding: 0 0 12px 0;
	margin: 0;
}

ul {
	padding: 0 0 12px 0;
	margin: 0;
}

li {
	padding-bottom: 12px;
	padding-right: 24px;
	list-style-type: none;
}

table {
	display: grid;
	padding: 0 0 12px 0;
	grid-template-columns: 1fr 1fr;
}

thead, tbody, tr {
	display: contents;
}

td {
	padding-bottom: 12px;
}

header {
	padding: 0;
}

header.index {
	padding-bottom: 72px;
}

.logo {
	font-family: "Outfit", sans-serif;
	font-weight: 900;
	text-transform: none;
}

.logoDot {
	position: relative;
	top: 3px;
	right: 1px;
	padding-left: 1px;
}

.logo a {
	text-decoration: none;
}

nav {
	padding: 0 0 48px 0;
}

nav a {
	text-decoration: none;
}

nav li {
	padding-right: 0;
	text-transform: lowercase;
}

.pageDivision {
	border-style: solid;
	border-color: rgb(180,180,180);
	border-width: 0 0 1px 0;
	margin: 0;
	padding: 12px 0 48px 0;
}

.leftBorderGrid {
	display: none;
}

.leftBorder {
	display: none;
}

#heroImage {
	padding-bottom: 108px;
}

#heroImage img {
	padding-bottom: 48px;
}

#development section {
	padding: 0 0 24px 0;
}

#development div {
	padding: 0 0 24px 0;
}

#development ul li {
	list-style: circle outside;
	margin-left: 24px;
}

#features {
	padding-bottom: 0;
}

#features section {
	padding: 0 0 72px 0;
}

#features div {
	display: grid;
}

#features div img, #features div video {
		padding-bottom: 24px;
}

#features p {
	padding-bottom: 24px;
}

#sale {
	padding-bottom: 84px;
}

#sale table tr td:nth-child(1) {
	padding-right: 12px;
}

#techSpecs {
	background: radial-gradient(ellipse, rgb(245,242,236) 50%, rgb(240,237,231));
	margin-bottom: 96px;
}

#techSpecs h2, #techSpecs h3, #techSpecs div, #techSpecs ul {
	padding-left: 12px;
	padding-right: 12px;
}

#techSpecs table tr td:nth-child(2) {
	padding-right: 12px;
}

#techSpecs table tr td:nth-child(1) {
	padding-left: 12px;
	padding-right: 12px;
}

#techSpecs section {
	padding: 0 0 48px 0;
}

#techSpecs img {
	padding-bottom: 24px;
}

#about {
	border-top: 1px solid rgb(180,180,180);
}

#about section, #connect section, #projects section {
	padding-bottom: 45px;
}

#sale p, #about p, #connect p, #projects p {
	grid-column-start: 1;
	grid-column-end: 4;
}

div#mc_embed_shell {
	grid-column-start: 1;
	grid-column-end: 4;
}

div#mc_embed_signup_scroll {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

div#mce-responses {
	display: none;
}

div.mc-field-group {
	grid-column-start: 1;
	grid-column-end: 2;
}

#mc_embed_signup {
	font-family: "Source Sans 3", sans-serif;
	font-weight: 400;
	font-style: normal;
}

form#mc-embedded-subscribe-form {
	margin-block-end: 0;
}

div.mc-field-group label {
	padding-right: 12px;
	line-height: 30px;
	font-size: 15px;
	color: rgb(40,40,40);
}

input#mce-EMAIL.required.email, input#mce-EMAIL.required.email:focus-visible {
	display: block;
	height: 40px;
	box-shadow: 5px 5px 0 rgb(120,120,120);
	border-style: solid;
	border-width: 1px 0 1px 1px;
	border-color: rgb(40,40,40);
	border-radius: 0;
	background-color: rgb(255,255,255);
	line-height: 30px;
	font-size: 15px;
	color: rgb(40,40,40);
	padding-left: 10px;
	margin: 0 15px 15px 0;
	font-family: "Source Sans 3", sans-serif;
	width: 100%;
}

div.optionalParent {
	padding-top: 30px;
	grid-column-start: 2;
	grid-column-end: 3;
}

input.button {
	display: inline-flex;
	padding-bottom: 0;
	margin: 0 0 12px 0;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(40,40,40);
	border-radius: 0;
	background-color: rgb(230,230,230);
	width: 100%;
	height: 40px;
	box-shadow: 5px 5px 0 rgb(120,120,120);
	line-height: 30px;
	font-size: 15px;
	color: rgb(40,40,40);
	font-family: "Source Sans 3", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

input.button:hover {
	background-color: rgb(180,180,180);
}

input.button:active {
	background-color: rgb(230,230,230);
}

div.clear.foot p {
	margin: 0;
	width: 75%;
}

img.refferal_badge {
	opacity: 0.2;
	width: 100% !important;
	height: auto !important;
	justify-content: left !important;
	align-items: flex-start !important;
	margin-right: auto !important;
}

.title {
	font-size: 48px;
	line-height: 60px;
}

.stepComplete {
	text-decoration: line-through;
}

#sale table {
	margin: 15px 0 30px 0;
	padding: 24px 12px 12px 12px;
	background: radial-gradient(ellipse, rgb(245,242,236) 50%, rgb(240,237,231));
	border-style: solid;
	border-color: rgb(180,180,180);
	border-width: 1px 0;
}

footer {
	border-style: solid;
	border-color: rgb(180,180,180);
	border-width: 1px 0 0 0;
	padding-top: 12px;
}

#projects {
	border-top: 1px solid rgb(180,180,180);
}

#projects a {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 3;
	text-decoration: none;
}

#projects section.projectThumbnail {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0;
}

.projectThumbnail div {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 4;
}

#projects a .projectThumbnail h3, #projects a .projectThumbnail p {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 3;
}

#projects a .projectThumbnail p {
	font-size: 17px;
	line-height: 21px;
}

.projectThumbnail div img {
	padding-bottom: 24px;
}

@media only screen and (min-width: 500px) {
	
	table {
		grid-template-columns: 1fr 1fr;
		grid-gap: 0 48px;
	}

	#heroImage {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 48px;
	}
	
	#heroImage p {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#heroImage h1 {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	#heroImage div {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	#development {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 48px;
	}

	#development section {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#sale section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 48px;
	}

	#sale table {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#sale p, #about p, #connect p {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#about section, #connect section, #projects section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 60px;
		padding-bottom: 45px;
	}
	
	div#mc_embed_shell {
		display: grid;
		width: 100%;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	input#mce-EMAIL.required.email, input#mce-EMAIL.required.email:focus-visible {
	}
	
	input.button {
	}

	#features section {
		display: grid;
		grid-gap: 0 60px;
	}
	
	.fullWidth {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	.fullWidth div.featureText {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.fullWidth div.featureImage {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	.fullWidthBottomImage {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	.leftImage {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	.leftImage div.featureText {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.leftImage div.featureImage {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	.rightImage {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	.rightImage div.featureText {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.rightImage div.featureImage {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	#projects {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 60px;
	}
	
}

@media only screen and (min-width: 700px) {

	body {
		padding: 30px;
	}
	
	p, h1, h2, a, li, table {
		font-size: 24px;
		line-height: 30px;
	}
	
	h2 {
		padding: 0 30px 120px 0;
	}

	p, h1, h3 {
		padding-bottom: 15px;
	}
	
	h3 {
		font-size: 18px;
		line-height: 30px;
	}

	ul {
		padding-bottom: 15px;
	}
	
	li {
		padding-bottom: 15px;
		padding-right: 30px;
	}
	
	section.pageDivision {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 60px;
		padding: 15px 0 60px 0;
		border-style: none;
	}

	.leftBorderGrid {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 60px;
	}
	
	.leftBorder {
		display: block;
		height: 1px;
		background-color: rgb(180,180,180);
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 60px;
	}

	header.index {
		padding-bottom: 90px;
	}

	nav {
		display: grid;
		grid-column-start: 2;
		grid-column-end: 4;
		padding-bottom: 60px;
	}
	
	nav ul {
		display: inline-flex;
		float: right;
		justify-content: space-between;
	}
	
	nav li {
	}
	
	section {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	table {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0 60px;
		padding-bottom: 15px;
	}

	td {
		padding-bottom: 15px;
	}


	img, img {
		display: block;
		padding-bottom: 15px;
	}
	
	#heroImage {
		padding-bottom: 135px;
	}
	
	#heroImage section {
		display: grid;
	}

	#heroImage img {
		padding-bottom: 60px;
	}
	
	#development {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 60px;
		border-style: none;
	}
	
	#development div, #development section {
		padding-bottom: 30px;
	}

	#development section {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	
	#development h2 {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	#features section {
		padding: 0 0 90px 0;
		border-style: none;
	}
	
	.fullWidth {
		grid-gap: 15px 60px;
	}
	
	.fullWidth div.featureText {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.fullWidth div.featureImage {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	.fullWidthBottomImage {
		grid-gap: 15px 60px;
	}
	
	.fullWidthBottomImage div.featureText {
		grid-row-start: 1;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.fullWidthBottomImage div.featureImage {
		grid-row-start: 2;
		grid-column-start: 1;
		grid-column-end: 4;
	}
		
	.leftImage {
		grid-gap: 60px;
	}
	
	.leftImage div.featureText {
		grid-column-start: 3;
		grid-column-end: 4;
		margin: auto 0;
	}
	
	.leftImage div.featureImage {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.rightImage {
		grid-template-columns: 1fr 2fr;
		grid-gap: 60px;
	}
	
	.rightImage div.featureText {
		grid-column-start: 1;
		grid-column-end: 2;
		margin: auto 0;
		text-align: right;
	}
	
	.rightImage div.featureImage {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	
	#features .leftAligned h3, #features .leftAligned p {
		text-align: right;
		padding-right: 30px;
	}
		
	#features .rightAligned h3, #features .rightAligned p {
		text-align: left;
		padding-left: 30px;
	}
	
	.imageOnly div.featureImage {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	#features div img, #features div video {
			padding-bottom: 30px;
	}

	#features p {
		padding-bottom: 30px;
	}

	#sale {
		padding-bottom: 105px;
		border-style: none;
		grid-gap: 0 60px;
	}

	#sale section {
		display: grid;
		grid-column-start: 2;
		grid-column-end: 4;
		grid-template-columns: 1fr;
	}
	
	#sale h2 {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#sale p {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#sale table {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0 60px;
		padding: 30px 15px 15px 15px;
	}

	#sale table tr td:nth-child(1) {
		padding-right: 12px;
	}

	#techSpecs {
		border-width: 1px 0;
		border-style: solid;
		border-color: rgb(180,180,180);
		margin-bottom: 120px;
	}
		
	#techSpecs section {
		grid-column-start: 1;
		grid-column-end: 4;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 60px;
		padding-bottom: 60px;
	}
	
	#techSpecs div, #techSpecs ul, #techSpecs table {
		padding-left: 0;
		padding-right: 15px;
		grid-column-start: 2;
		grid-column-end: 4;
	}
	
	#techSpecs h3 {
		padding-right: 0;
	}
	
	#techSpecs table tr td:nth-child(2) {
		padding-right: 15px;
	}


	#techSpecs table tr td:nth-child(1) {
		padding-left: 0;
		padding-right: 15px;
	}

	#techSpecs img {
		padding-bottom: 30px;
	}

	#about, #connect, #projects {
		border-style: none;
	}
	
	#about section, #connect section, #projects section {
		grid-column-start: 2;
		grid-column-end: 4;
		display: block;
		padding-bottom: 45px;
	}
	
	#sale p, #about p, #connect p {
		display: block;
	}
	
	div#mc_embed_shell {
		grid-column-end: 2;
	}
	
	div.mc-field-group {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	div.mc-field-group label {
		padding-right: 15px;
		line-height: 40px;
		font-size: 18px;
	}

	input#mce-EMAIL.required.email, input#mce-EMAIL.required.email:focus-visible {
		width: 100%;
		margin: 0 12px 12px 0;
		line-height: 40px;
		font-size: 18px;
	}
	
	div.optionalParent {
		padding-top: 40px;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	input.button {
		width: 50%
		margin-bottom: 15px;
		line-height: 40px;
		font-size: 18px;
	}

	div.optionalParent div.clear.foot p {
		width: 60%;
	}

	img.refferal_badge {
		object-fit: contain;
	}

	footer {
		padding-top: 15px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 60px;
	}
	
	footer p {
		grid-column-start: 1;
	}
	
	#projects a {
		display: grid;
		grid-column-start: 2;
		grid-column-end: 4;
	}
	
	#projects a section.projectThumbnail {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding-bottom: 45px;
	}
	
	.projectThumbnail div {
		display: grid;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	.projectThumbnail div img {
		padding-bottom: 30px;
	}
	
	#projects a .projectThumbnail h3, #projects a .projectThumbnail p {
		display: grid;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#projects a .projectThumbnail p {
		font-size: 20px;
		line-height: 24px;
	}	

}

@media only screen and (min-width: 900px) {

	body {
		width: 840px;
		margin: auto;
		padding: 30px;
	}
	
