:root {
	--colorFieldBase: rgba(245,242,236,1);
	--colorFieldPaper: rgba(239,234,225,1);
	--colorFieldEmphasis: rgba(233,225,214,1);
	--colorFieldTest: rgba(0,0,255,.3);

	--colorTextBody: rgba(40,40,40,1);
	--colorTextEmphasis: rgba(142,109,73,1);
	--colorTextRed: rgba(204,51,51,1);
	--colorLinkHover: rgba(0,0,0,.05);
	
	--colorBorderBase: rgba(180,180,180,1);
	--colorBorderPaper: rgba(142,109,73,1);

	--colorStamp: rgba(255,0,0,1);
	
	--transparent: rgba(255,255,255,0);
	--shade: rgba(0,0,0,.03);
	--fold: rgba(0,0,0,.05);
	
	--fontSans: "Source Sans 3", sans-serif;
	--fontSerif: "Courier Prime", monospace;

	--fontSizeBody: 1rem;
	--fontSizeDetail: .75rem;
	--fontSizeLink: .9em;
	
	--lineHeight: 1.4em;
	
	--borderBase: 1px solid var(--colorBorderBase);

	font-size: 20px;
}

body {
	background: var(--colorFieldBase);
	margin: 0 0 .7rem 0;
	padding: 12px;
	color: rgb(40,40,40);
	font-family: var(--fontSans);;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: var(--fontSizeBody);
	line-height: var(--lineHeight);
}


/* elements */

.logo {
	font-size: var(--fontSizeBody);
	line-height: var(--lineHeight);
	margin: 0 0 .7rem 0;
}

.logo a {
	font-family: "Outfit", sans-serif;
	font-weight: 900;
	text-decoration: none;
	text-transform: none;
}

	.logoDot {
		position: relative;
		top: 2px;
		right: 1px;
		padding-left: 2px;
	}



	header nav li {
		border-style: none;
		list-style-type: none;
		padding: 0 0 .7rem 0;
		text-indent: 0;
	}

	nav li a {
		font-family: var(--fontSans);
		font-size: var(--fontSizeBody);
		font-weight: 400;
		letter-spacing: 0;
		list-style-type: none;
		text-decoration: none;
		text-transform: lowercase;
	}






		nav.specs {
			background-color: var(--colorFieldEmphasis);
			font-size: var(--fontSizeLink);
			box-shadow: 2px 5px 9px -4px rgba(0,0,0,.1);
		}

			nav.specs::before {
				background-image: linear-gradient(
					to right,
					var(--transparent),
					60%,
					var(--shade) 70%,
					80%,
					var(--transparent)
				);
				content: '';
				height: 100%;
				left: -.4em;
				position: absolute;
				top: 0;
				width: calc(100% + .8em);
				z-index: 1;
				mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
			}

			nav.specs * {
				margin: 0;
				padding: 0;
			}
			
			nav.specs ul {
				display: flex;
				justify-content: space-between;
				margin: 0;
				padding: .4em 1em .3em 1em;
			}
			
				nav.specs a {
					font-family: inherit;
					font-size: var(--fontSizeLink);
				}
				
			nav.specs ul { /* side perforation */

				&:before,
				&:after {
					content: '';
					position: absolute;
					left: 0;
					height: 100%;
					width: .4rem;
				}
				
				&:before {
					background: radial-gradient(circle, transparent, transparent 50%, var(--colorFieldEmphasis) 50%, var(--colorFieldEmphasis) 100% ) -.2em 0 / 100% .4rem repeat-y;
					left: -.2rem;
					top: 0;
				}
				
				&:after {
					background: radial-gradient(circle, transparent, transparent 50%, var(--colorFieldEmphasis) 50%, var(--colorFieldEmphasis) 100% ) .2em 0 / 100% .4rem repeat-y;
					left: calc(100% - .2em);
					top: 0;
				}
			}







main {
	margin: 0;
}

article {
	border-top: var(--borderBase);
	display: grid;
	margin: 0;
	padding-top: .7rem;
}

section {
	margin: 0 0 2.1rem 0;
}

		section > :last-child {
			margin: 0;
		}
	section:last-child, section.specs:last-child {	
		margin: 0 0 5.6rem 0;
	}
	
	section.specs {
		margin: 0 0 1.4rem 0;
		padding: 0 0 2.1rem 0;
	}
		
		:nth-last-child(1 of .specs) {
			margin: 0 0 2.1rem 0;
		}
		
	article section * {
		margin: 0 0 .7rem 0;
	}
	
	article .specs * {
		margin: 0;
	}
	
	#features section {
		margin: 0 0 5.6rem 0;
	}

footer {
	border-top: var(--borderBase);
	padding-top: .7rem;
}

	
article section div {
	margin: 0 0 1.4rem 0;
}
		div.featureImage :last-child, div.featureText :last-child {	
			margin: 0;
		}
		
	div.leftBorderGrid {
		margin: 0;
	}

h1 {
	font-size: 2rem;
	font-weight: 900;
	line-height: 1.4rem;
	margin: inherit;
}

h2 {
	font-size: inherit;
	font-weight: 800;
	letter-spacing: .06rem;
	margin: 0 0 5.6rem 0;
}

h3 {
	font-size: inherit;
	font-weight: 800;
	letter-spacing: .06rem;
	margin: inherit;
	text-transform: lowercase;
}

	.specs h3 {
		background-color: var(--colorFieldEmphasis);
		border-bottom: 1px solid var(--colorBorderPaper);
		color: var(--colorTextEmphasis);
		padding: .7rem;
		text-transform: uppercase;
	}
	
p {
	margin: inherit;
}

	td p:first-child {
		margin: 0 0 .7rem 0;
	}
	
a {
	color: inherit;
	font-family: var(--fontSerif);
	font-size: var(--fontSizeLink);
	letter-spacing: .06rem;
	text-decoration-thickness: 1px;
	text-transform: uppercase;
	word-spacing: -.2rem;
}

	a:hover {
		background-color: var(--colorLinkHover);
	}
	
div img, div video {
	display: block;
	height: auto;
	margin: 0 0 1.4rem 0;
	object-fit: contain;
	width: 100%;
}

.specs ul {
	margin: 0 0 .7rem 0;
	padding: 0;
	font-family: var(--fontSerif);
}

	li::marker {
		border-bottom: 1px solid var(--colorBorderPaper);
	}
		
	ul li {
		border-bottom: 1px solid var(--colorBorderPaper);
		list-style: circle none inside;
		padding: .7rem .7rem .7rem 2.3rem;
		text-indent: -1.35rem;
	}
	
	ul li::marker {
		margin-right: .7rem;
	}
	
	.stepComplete {
		text-decoration: line-through;
		text-decoration-thickness: 1px;
	}


.specs table {
	border-collapse: collapse;
	font-family: var(--fontSerif);
	margin: 0 0 .7rem 0;
	width: 100%;
}

	td {
		border-bottom: 1px solid var(--colorBorderPaper);
		padding: .7rem;
		width: 50%;
		vertical-align: top;
	}
	
		td:nth-child(1) {
			background-color: var(--colorFieldEmphasis);
			border-right: 1px solid var(--colorBorderPaper);
			color: var(--colorTextEmphasis);
			font-family: var(--fontSans);
			font-weight: 600;
		}


/* classes */

.specs {
	background-attachment: fixed;
	background-size: cover;
	background-color: var(--colorFieldPaper);
	box-shadow: 1px 7px 9px -4px rgba(0,0,0,.2);
	font-size: var(--fontSizeDetail);
	line-height: var(--lineHeight);
	position: relative;
}

	/* creases */
	
	section.specs::before {
		background-image: radial-gradient(
			circle at center,
			var(--shade),
			20%,
			var(--transparent),
			90%,
			var(--transparent)
		);
		content: '';
		height: calc(100% + .2rem);
		position: absolute;
		top: -.1rem;
		width: 100%;
		z-index: 1;
		mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
	}
		
	section.specs::after {
		background: linear-gradient(
				var(--transparent),
				40%,
				var(--fold) 50%,
				var(--transparent) 50.5%
			),
			linear-gradient(
				to right,
				var(--transparent),
				40%,
				var(--fold) 50%,
				var(--transparent) 50.5%
			);
		content: '';
		height: calc(100% + .2rem);
		left: 0;
		position: absolute;
		rotate: .6deg;
		top: -.1rem;
		width: 100%;
	}
	
		.specs.card::after {
			top: 0;
		}
		
	.specs h3 { /* perforation */

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			height: .2rem;
			width: 100%;
		}
		
		&:before {
			top: -.2rem;
			background: radial-gradient(circle, transparent, transparent 50%, var(--colorFieldEmphasis) 50%, var(--colorFieldEmphasis) 100% ) center bottom / .4rem .4rem repeat-x;
		}
		
		&:after {
			bottom: -.2rem;
			background: radial-gradient(circle, transparent, transparent 50%, var(--colorFieldPaper) 50%, var(--colorFieldPaper) 100% ) center top / .4rem .4rem repeat-x;
		}
	}
		
	
	/* accessories */
	
	.stamp {
		border: solid .15rem var(--colorStamp);
		border-radius: .2rem;
		color: rgb(255,0,0);
		display: inline-block;
		font-size: 2rem;
		font-weight: 900;
		line-height: .9rem;
		mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
		mix-blend-mode: multiply;
		opacity: .2;
		padding: .05rem .1rem 0 .1rem;
		text-transform: uppercase;
	}
	
		.approved {
			rotate: -30deg;
			position: absolute;
			bottom: 23%;
			right: 10%;
		}

		p.stamp.confidential {
			rotate: 5deg;
			position: absolute;
			top: 57%;
			left: 5%;
		}
		
		.tbd {
			font-size: 3rem;
			position: absolute;
			right: 10%;
			rotate: 10deg;
			top: 23%;
		}
		
		.document {
			rotate: -5deg;
			position: absolute;
			top: 90%;
			left: 5%;
		}
			
	
	.footer.right {
		color: var(--colorTextEmphasis);
		font-style: italic;
		font-weight: 600;
		margin: 0 .7rem 0 0;
		text-align: right;
	}
	
	.specs p.redType {
		color: var(--colorTextRed);
		display: inline;
		font-family: var(--fontSerif);
		letter-spacing: -.03rem;
		padding: .3rem 0 0 1rem;
		position: absolute;
		rotate: 4deg;
	}
		
	table.fillIn {
		padding: 0 0 1.4rem 0;
		table-layout: fixed;
		width: fit-content;
	}
	
		.fillIn td {
			padding: 0 0 0 .7rem;
		}
			
		.fillIn td:nth-child(1) {
			background-color: inherit;
			border-style: none;
			width: 6rem;
		}
		
		.fillIn td:nth-child(2) {
			rotate: -3deg;
			width: 6rem;
		}
	
	div.specsImage {
		border-bottom: 1px solid var(--colorBorderPaper);
		padding: 2.1rem .7rem;
		margin: 0 0 .7rem 0;
	}




@media only screen and (min-width: 500px) {

	header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

		nav.specs {
			grid-column-start: 1;
			grid-column-end: 3;
		}		

	article {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 1.4rem;
	}

	section {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-gap: inherit;
	}

		#features section, #heroImage section {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
		
		section.textOnly {
			grid-column-end: 3;
		}

	div {
	}

		div.featureText {
			grid-column-start: 1;
			grid-column-end: 3;
		}
		
		div.featureImage {
			grid-column-start: 1;
			grid-column-end: 4;
		}
		
	h2 {
			grid-column-start: 1;
			grid-column-end: 4;
	}


		

@media only screen and (min-width: 700px) {

	:root {
		font-size: 24px;
	}

	body {
		padding: 30px;
	}
	
	nav.specs {
		grid-column-start: 2;
		grid-column-end: 4;
	}		
		
	article {
		border-image: linear-gradient(to right, var(--colorBorderBase) calc(33.33% - .9em), transparent calc(33.33% - .9em)) 100% 1;
	}

	section {
	}

		section.textOnly {
			grid-column-start: 2;
			grid-column-end: 4;
		}
		
		section.specs {
			grid-column-start: 2;
			grid-column-end: 4;
		}
		
		#techSpecs section:nth-of-type(1) {
			margin-top: .7rem;
		}
		
	div {
	}

		.fullWidth div.featureText {
			grid-column-start: 1;
			grid-column-end: 3;
		}

			.fullWidth div.featureImage {
				grid-column-start: 1;
				grid-column-end: 4;
			}
		
		.imageOnly div.featureImage {
			grid-column-start: 1;
			grid-column-end: 4;
		}
		
		.rightImage div.featureText {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
		}
			
			.rightImage div.featureImage {
				grid-column-start: 2;
				grid-column-end: 4;
			}
		
		.leftImage div.featureText {
			grid-column-start: 3;
			grid-column-end: 4;
		}
		
			.leftImage div.featureImage {
				grid-column-start: 1;
				grid-column-end: 3;
			}
		
	h2 {
			grid-column-start: 1;
			grid-column-end: 2;
	}



@media only screen and (min-width: 900px) {

	body {
		width: 840px;
		margin: auto;
		padding: 30px;
	}
	




/*





#index h2 {
	padding-bottom: 12px;
	font-weight: 800;
}






/* paper lift effect, credit to Martin Wolf, https://codepen.io/martinwolf 

.specs {
	position: relative;
}

	.specs::before,
	.specs::after {
		content: '';
		position: absolute;
		bottom: 10px;
		width: 40%;
		height: 10px;
		box-shadow: 0 5px 14px rgba(0,0,0,.7);
		z-index: -1;
		transition: all .3s ease-in-out;
	}
	
	.specs::before {
	  left: 15px;
	  transform: skew(-5deg) rotate(-5deg);
	}

	.specs::after {
	  right: 7px;
	  transform: skew(5deg) rotate(3deg);
	}

	.specs:hover::before,
	.specs:hover::after {
	  box-shadow: 0 2px 14px rgba(0,0,0,.4);
	}

	.specs:hover::before {
	  left: 5px;
	}

	.specs:hover::after {
	  right: 5px;
	}
	
/* end paper lift effect





#index header, #thankYou header {
	padding-bottom: 84px;
}


.leftBorderGrid {
	display: none;
}

.leftBorder {
	display: none;
}


#features div.emptyImage {
	margin-bottom: 24px;
	aspect-ratio: 16/9;
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}

.rightSmallImage .emptyImage section {
	display: grid;
	height: 100%;
	padding: 24px;
	grid-template-columns: 1fr;
}

.rightSmallImage .emptyImage p {
	width: 80%;
}

div#mc_embed_shell {
	grid-column-start: 1;
	grid-column-end: 4;
}

div#mc_embed_signup_scroll {
	display: grid;
	margin: -1px -13px 0 -13px;
	grid-template-columns: 2fr 1fr;
	border-style: solid;
	background-color: rgb(243, 239, 232);
	border-color: rgb(133, 111, 71);
	border-width: 1px 1px 0 1px;
}

div#mce-responses {
	display: none;
}

div.mc-field-group {
	grid-column-start: 1;
	grid-column-end: 2;
}

#mc_embed_signup {
	font-family: var(--fontSans);
	font-weight: 400;
	font-style: normal;
}

form#mc-embedded-subscribe-form {
	margin-block-end: 0;
}

div.mc-field-group label {
	display: block;
	padding: 0 0 0 12px;
	font-family: var(--fontSans);
	font-weight: 600;
	font-style: normal;
	font-optical-sizing: auto;
	font-size: 15px;
	line-height: 30px;
	background-color: rgb(239, 234, 225);
	color: rgb(133, 111, 71);
}

input#mce-EMAIL.required.email, input#mce-EMAIL.required.email:focus-visible {
	display: block;
	height: 42px;
	width: 100%;
	margin: 0 15px 15px 0;
	padding: 13px 0 10px 12px;
	background-color: rgb(243, 239, 232);
	border-style: solid;
	border-color: rgb(133, 111, 71);
	border-width: 1px 0;
	border-radius: 0;
	color: rgb(40,40,40);
	font-family: var(--fontSerif);
	font-size: 15px;
	line-height: 17px;
	box-sizing: border-box;
}

div.optionalParent {
	margin-top: 30px;
	grid-column-start: 2;
	grid-column-end: 3;
	box-shadow: 0 -30px rgb(239, 234, 225);
}

input.button {
	display: block;
	height: 42px;
	width: 100%;
	padding: 13px 0 10px 0;
	margin: 0 0 12px 0;
	background-color: rgb(239, 234, 225);
	border-style: solid;
	border-color: rgb(133, 111, 71);
	border-width: 1px 0 1px 1px;
	border-radius: 0;
	font-family: var(--fontSans);
	font-weight: 800;
	font-size: 15px;
	line-height: 17px;
	color: rgb(133, 111, 71);
	text-align: center;
	text-transform: uppercase;
	box-sizing: border-box;
}

input.button:hover {
	background-color: rgb(243, 239, 232);
}

input.button:active {
	background-color: rgb(239, 234, 225);
}

div.clear.foot p {
	margin: 0;
	padding: 0;
	width: 75%;
}

img.refferal_badge {
	width: 100% !important;
	height: auto !important;
	margin-top: 0;
	margin-right: auto !important;
	margin-left: 0;
	border-style: none;
	opacity: 0.2;
	justify-content: left !important;
	align-items: flex-start !important;
}

#projects {
	border-top: 1px solid rgb(180,180,180);
}

#projects a {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 3;
	text-decoration: none;
}

#projects section.projectThumbnail {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0;
}

.projectThumbnail div {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 4;
}

#projects a .projectThumbnail h3, #projects a .projectThumbnail p {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 3;
	text-transform: none;
}

#projects a .projectThumbnail p {
	font-size: 17px;
	line-height: 22px;
}

.projectThumbnail div img {
	padding-bottom: 24px;
}

#thankYou section {
	border-width: 1px 0;
}

#thankYou footer {
	border-style: none;
}



/* coffee stain test

article {
  width: 90vmin;
  height: 40vmin;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
/*   display: flex;
  justify-content: space-between; */
/* 
margin: 0;
  min-height: 100vh;
  overflow: hidden;
  background: transparent;
  z-index: 1;
}

article section {
  width: 40vmin;
  aspect-ratio: 1;
  position: absolute;
}

article section *,
article section *::before,
article section *::after {
  position: absolute;
  box-sizing: border-box;
}


.stain {
	opacity: 0.35;
	left: 40%;
	top: -5%;
	filter: sepia(200%) brightness(360%) contrast(130%) hue-rotate(-15deg) grayscale(20%);
	background-color: none;
	background: #eee;
	mix-blend-mode: darken;
	-webkit-mask:
		radial-gradient(farthest-side at 25% 40%, #000 20%, #0000 45%),
		radial-gradient(#0004, #0000) 10% 25% / 17% 21%,
		radial-gradient(#0006, #0000) 30% 30% / 20% 20%,
		radial-gradient(#000c, #0000),
		radial-gradient(farthest-side, #0000 80%, #000)
}

.main-stain {
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	width: 80%;
	aspect-ratio: 1;
	border-radius: 50%;
	background: 
		radial-gradient(circle at 70% 20%, #00f 10%, #0000 0),
		radial-gradient(circle at 81% 40%, #00f 6%, #0000 0),
		radial-gradient(circle at 20% 20%, #00f 6%, #0000 0),
		#fff
		;
	box-shadow: 
		inset 5vmin -0.75vmin 0 -2.75vmin #006,
		inset -1vmin -1vmin blue,
		inset -1.5vmin 2.5vmin blue,
		1vmin 2vmin blue,
		-1vmin 2vmin 0 -1vmin blue,
		0 0 0 16vmin #fff;
	filter: blur(1.5vmin) contrast(500);
}


.splash-stain {
	width: 12vmin;
	aspect-ratio: 1;
	background:
		repeating-conic-gradient(#00f 0 3%, #0000 0 11%),
		repeating-conic-gradient(#0000 0 5%, #00f 0 7%) 50% / 60% 60%,
		repeating-conic-gradient(#0000 0 7%, #00f 0 9%) 50% / 70% 70%,
		repeating-conic-gradient(#0000 0 11%, #00f 0 13%) 50% / 80% 80%,
		radial-gradient(#00f 22%, #0000 0),
		#fff;
	background-repeat: no-repeat;
	filter: blur(0.78vmin) contrast(50) drop-shadow(0 0 0.75vmin #f008);
	box-shadow: 0 0 0 6vmin #fff;
	mix-blend-mode: darken;
	top: -1%;
	left:63%;
	border-radius: 50%
}





@media only screen and (min-width: 500px) {
	
	
	
	#features div.emptyImage {
		display: block;
		margin-top: 12px;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#features .emptyImage section {
		grid-template-columns: 1fr 1fr;
		grid-gap: 0;
	}
	
	#features .fullSpan {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#features .redType {
		grid-column-start: 1;
	}
	
	div#mc_embed_shell {
		display: grid;
		width: 100%;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#projects {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 60px;
	}
	
}

@media only screen and (min-width: 700px) {

	#a .specs p.stamp {
		padding: 3px 7px 0 7px;
		border: solid 6px rgb(255,0,0);
		border-radius: 6px;
		font-size: 36px;
		line-height: 36px;
	}

	#a p.stamp.tbd {
		font-size: 48px;
		line-height: 48px;
	}
	

	#index h2, #thankYou h2 {
		padding-bottom: 15px;
	}

	

	#index header, #thankYou header {
		padding-bottom: 105px;
	}
	
	.logoDot {
		top: 3px;
		right: 2px;
		padding-left: 2px;
	}

	#heroImage {
		padding-bottom: 135px;
	}
	
	#heroImage section {
		display: grid;
	}

	#heroImage img {
		padding-bottom: 60px;
	}
	

	div#mc_embed_shell {
		grid-column-end: 2;
	}
	
	div.mc-field-group {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	div.mc-field-group label {
		padding-right: 15px;
		line-height: 40px;
		font-size: 18px;
	}

	input#mce-EMAIL.required.email, input#mce-EMAIL.required.email:focus-visible {
		height: 44px;
		margin: 0 12px 12px 0;
		line-height: 18px;
		font-size: 18px;
	}
	
	div.optionalParent {
		margin-top: 40px;
		grid-column-start: 2;
		grid-column-end: 3;
		box-shadow: 0 -40px rgb(239, 234, 225);
	}
	
	input.button {
		height: 44px;
		margin-bottom: 15px;
		line-height: 18px;
		font-size: 18px;
	}

	div.optionalParent div.clear.foot p {
		width: 60%;
	}

	img.refferal_badge {
		object-fit: contain;
	}

	table.fillIn tr td:nth-child(1) {
		width: 90px;
	}

	table.fillIn tr td:nth-child(2) {
		width: 90px;
	}
	footer {
		padding-top: 15px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0 60px;
	}
	
	footer p {
		grid-column-start: 1;
	}
	
	#projects a {
		display: grid;
		grid-column-start: 2;
		grid-column-end: 4;
	}
	
	#projects a section.projectThumbnail {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding-bottom: 45px;
	}
	
	.projectThumbnail div {
		display: grid;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	.projectThumbnail div img {
		padding-bottom: 30px;
	}
	
	#projects a .projectThumbnail h3, #projects a .projectThumbnail p {
		display: grid;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#projects a .projectThumbnail p {
		font-size: 20px;
		line-height: 24px;
	}	

	#thankYou section {
		border-width: 0;
	}

	#thankYou footer {
		border-style: solid;
	}

}

,