:root {
	--color-black: #3c3c3c;
	--color-black-field: #4a4a4a;
	--color-black-field-lighter: #5c5c5c;
	--color-emphasis: #ababab;
	--color-emphasis-lighter: #cccccc;
	--color-page: #dbdbdb;
	--color-alert: #006642;
	--color-alert-hover: #008053;
	--color-alert-2: #914a30;
	--color-white: #f5f5f5;
	--color-white-shade: #f0f0f0;
	--font-display: "Montserrat", sans-serif;
	--font-sans: "IBM Plex Sans", sans-serif;
	--font-serif: "Courier Prime", monospace;
	--font-size-caps: 0.95em;
	--font-size-small: 0.8em;
	--font-size-title: 3em;
	--font-size-subtitle: 0.25em;
	--radius-standard: 0.9rem;
}

html {
	box-sizing: border-box;
	font-size: 125%;
	line-height: 1.4;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body, h1, h2, h3, a, li, p {
	line-height: inherit;
}

body {
	background-color: var(--color-page);
	color: var(--color-black);
	font-family: var(--font-sans);
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

	#features,
	#system {
		background-color: var(--color-white);
	}

	footer {
		background-color: var(--color-black-field);
		color: var(--color-white);
	}

a,
li,
dd,
.data,
.mc-field-group input {
	font-family: var(--font-serif);
	font-weight: 400;
}

nav,
#specs > :not(h2),
footer,
.newsletter-form,
#features figure,
a.button {
	font-size: var(--font-size-small);
}

h1 {
	font-family: var(--font-display);
	font-size: 1em;
	font-weight: 900;
	letter-spacing: -.03em;
	margin: 0;
}

.subtitle {
	font-family: var(--font-display);
	font-size: var(--font-size-subtitle);
	font-weight: 500;
}

h2 {
	font-size: inherit;
	font-weight: 800;
	margin: 1rem 0;
}

h3 {
	font-size: inherit;
	font-weight: 600;
}

	.product-card h3 {
		font-family: var(--font-display);
		font-weight: 900;
		transition: all 1s ease;
	}
	
	.product-card h3::after {
		content: "\2197";
		display: inline-block;
		font-family: var(--font-serif);
		font-weight: 600;
		position: relative;
		transform: translate(0.5em, 0);
		transition:
			transform 0.35s cubic-bezier(0.33, 1.65, 0.6, 1.15) 0.05s;
	}
	
	.product-card:hover h3::after {
		transform: translate(1em, -0.5em);
	}

a {
	color: inherit;
	position: relative;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.2em;
	transition: all 0.2s ease;
}

	.logo {
		display: inline-block;
		font-family: var(--font-display);
		font-size: 1rem;
		font-weight: 900;
		position: relative;
		text-decoration: none;
		z-index: 2;
	}
	
	.bang-wrap {
		position: relative;
		display: inline-block;
		overflow: hidden;
		height: 1.4em;
		width: 2em;
		vertical-align: bottom;
	}
		
	.bang {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: left;
		line-height: inherit;
		font-family: inherit;
		transition: transform 0.3s ease;
	}
	
	.bang.front {
		transform: translateY(0%);
	}

	.bang.back {
		transform: translateY(-100%);
		transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1) 0.1s;
	}

	.logo:hover .bang.front {
		transform: translateY(100%);
	}

	.logo:hover .bang.back {
		transform: translateY(0%);
	}
		.logo {
		display: inline-block;
		font-family: var(--font-display);
		font-size: 1rem;
		font-weight: 900;
		position: relative;
		text-decoration: none;
		z-index: 2;
	}
	
	.bang-wrap {
		position: relative;
		display: inline-block;
		overflow: hidden;
		height: 1.4em;
		width: 2em;
		vertical-align: bottom;
	}
		
	.bang {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: left;
		line-height: inherit;
		font-family: inherit;
	}
	
	.bang.front {
		transform: translateY(0%);
	}

	.bang.back {
		transform: translateY(-100%);
	}

	.logo:hover .bang.front {
		transform: translateY(100%);
	}

	.logo:hover .bang.back {
		transform: translateY(0%);
	}
	
		header .logo {
			margin: 1rem;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	
	li a:not(nav a),
	p a {
		font-size: var(--font-size-caps);
		letter-spacing: 0.03em;
		text-transform: uppercase;
		word-spacing: -0.2em;
	}
	
	p a,
	dd a {
		border-radius: 9999px;
		color: var(--color-alert-2);
		display: inline-block;
		line-height: 1.4rem;
	}

	nav li a {
		align-items: center;
		display: flex;
		flex: 1;
		height: 100%;
		justify-content: center;
		padding: 0.3rem .7rem 0.2rem .7rem;
		position: relative;
		text-decoration: none;
		width: 100%;
	}
	
	nav li a::before {
		content: "\2193";
		font-family: var(--font-serif);
		font-weight: 600;
		opacity: 0;
		position: relative;
		transform: translate(-0.5em, 0);
		transition:
			transform 0.35s cubic-bezier(0.33, 1.65, 0.6, 1.15) 0.05s,
			opacity 0.2s ease;
	}
	
	nav li a::after {
		content: "\2193";
		font-family: var(--font-serif);
		font-weight: 600;
		opacity: 0;
		position: relative;
		transform: translate(-0.5em, 0);
		transition: all 0.2s ease;
	}

	nav li a:hover::before {
		opacity: 1;
		transform: translate(-0.5em, 0.3em);
	}
	
	a:hover,
	.optionalParent .foot input:hover,
	.key:hover {
		cursor: pointer;
	}
	
		p a:hover,
		dd a:hover,
		li a:hover {
			background-color: transparent;
			text-underline-offset: 0.35em;
		}
		
		.key:hover {
			background-color: var(--color-white-shade);
			transform: rotate(-5deg);
		}

	a.product-card,
	a.button {
		display: block;
		font-family: var(--font-sans);
		font-weight: 400;
		position: relative;
		text-decoration: none;
		transition: all 0.2s ease;
	}
	
		a.button {
			display: flex;
			align-items: center;
			background-color: var(--color-alert);
			border-radius: 1.5rem 0.3rem 1.5rem 1.5rem;
			color: var(--color-white);
			height: 3rem;
			justify-content: center;
			letter-spacing: 0.1em;
			margin: 0 1rem;
			text-align: center;
		}
		
		a.button::before {
			content: "\2197";
			display: inline-block;
			font-family: var(--font-serif);
			font-weight: 600;
			position: relative;
			transform: translate(-0.5em, -0.05em);
			transition:
				transform 0.35s cubic-bezier(0.33, 1.65, 0.6, 1.15) 0.05s,
				opacity 0.2s ease;
			}
			
		a.button::after {
			content: "\2197";
			font-weight: 600;
			margin-left: 0.5em;
			opacity: 0;
			position: relative;
		}
		
		a.button:hover {
			background-color: var(--color-alert-hover);
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
		}

		a.button:hover::before {
			transform: translate(0, -0.55em);
		}
		
		.product-card {
			background-color: var(--color-page);
			border: 1px solid rgba(0, 0, 0, 0.05);
			border-radius: var(--radius-standard);
			box-shadow:
				0 2px 6px rgba(0, 0, 0, 0.10),
				0 1px 3px rgba(0, 0, 0, 0.04);
			font-size: var(--font-size-small);
			height: 100%;
			margin: 3rem 0;
			overflow: hidden;
			padding: 0;
			transition: all 0.2 ease;
		}
		
		.product-card:hover {
			box-shadow:
				0 4px 12px rgba(0, 0, 0, 0.12),
				0 2px 6px rgba(0, 0, 0, 0.06);
		}
		
		.product-card:active {
			transform: translateY(1px);
		}

.italic {
	font-style: italic;
}

.list-wrapper,
#mc_embed_shell {
	overflow: hidden;
}

	.list-wrapper:not(:first-of-type) {
		margin: -2px 0 0 0;
	}

nav p,
#specs h3,
#connect h3,
#specs dt,
.mc-field-group label {
	font-size: var(--font-size-caps);
}

.data {
	background-color: var(--color-white);
	border-radius: 9999px;
	padding-inline: 0.8em;
}

	.product-card .data {
		background-color: var(--color-white);
	}

ul,
dl {
	background-color: var(--color-white);
	border-radius: 0 0 var(--radius-standard) var(--radius-standard);
	list-style-type: none;
	overflow: hidden;
	padding: 0;
}

	ul,
	dl {
		margin: 0;
	}
	
	nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 0 0 0 -1px;
	}

li,
dt,
dd,
#specs p,
.mc-field-group *,
.optionalParent {
	background-color: var(--color-white);
	border-top: 1px solid var(--color-emphasis-lighter);
	margin: 0;
}

	dt {
		border-width: 1px 0 0 0;
		margin: 0.9rem 0 0 0;
		padding: 0.9rem 0.9rem 0.2rem 0.9rem;
	}
	
		dt:first-child {
			margin: 0;
		}
	
	dd {
		border-width: 0;
		padding: 0 0.9rem;
	}
		
		dd:last-child {
			margin: 0 0 0.9rem 0;
		}
	
	li,
	.mc-field-group *,
	.optionalParent {
		border-width: 1px 0 0 0;
	}
	
		nav li {
			border-width: 1px 0 0 1px;
		}
		
		nav li:hover {
		}

	#specs li,
	.mc-field-group *,
	input {
		padding: 0.9rem;
	}
	
	nav p,
	#specs h3,
	#connect h3 {
		background-color: var(--color-white);
		border-radius: var(--radius-standard) var(--radius-standard) 0 0;
		color: var(--color-black);
		font-weight: 600;
		margin: 0;
		padding: 0.5rem .7rem 0.4rem .7rem;
		text-align: center;
		text-transform: uppercase;
	}
	
	nav li {
		text-align: center;
		display: flex;
		flex: 1 1 auto;
	}
	
dt,
#specs p,
.mc-field-group label {
	color: var(--color-black);
	font-weight: 600;
	text-transform: uppercase;
}

#specs p {
	border: 1px solid var(--color-emphasis);
}
	
	#specs p + p {
		margin: -1px 0 0 0;
	}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

	figure img {
		border-radius: var(--radius-standard);
	}
	
		figure img + img {
			margin: 0.5rem 0 0.5rem auto;
			width: 75%;
		}
	
	.product-card img {
		border-radius: 0;
		padding: 3rem;
		width: 100%;
	}
	
dd.layout-container {
	display: block;
	overflow: hidden;
	padding: 2.1rem 0.9rem 2.8rem 0.9rem;
	width: 100%;
}

article dl dd.layout-container div.keyboard-wrapper {
	width: 100%;
	line-height: 0;
	margin: 0;
	position: relative;
	line-height: 0;
}
	
	div.keyboard-wrapper.all-rows {
		aspect-ratio: 12 / 4;
	}

	div.keyboard-wrapper.bottom-row {
		aspect-ratio: 12 / 1;
	}
		
.keyboard {
	display: grid;
	container-type: size;
	container-name: keyboard;
	font-size: 1rem;
	gap: 2px;
	height: 100%;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(48, 1fr);
	transform-origin: top left;
	width: 100%;
}

.key {
	align-items: center;
	background-color: var(--color-white);
	border: 1px solid var(--color-emphasis);
	border-radius: 0.2rem;
	box-sizing: border-box;
	color: var(--color-black);
	display: flex;
	font-size: 10cqh;
	justify-content: center;
	line-height: 1em;
	margin: 0;
	overflow: hidden;
	padding: 0.4em 0.2em 0.2em 0.2em;
	text-align: center;
	transition: all 0.2s ease;
}

	.bottom-row .key {
		font-size: 40cqh;
	}

	.key:active {
		transform:
			rotate(-1deg)
			translate(0, 1px);
	}

	.key.empty {
		visibility: hidden;
	}

	.u-1			{ grid-column: span 4; }
	.u-1-25		{ grid-column: span 5; }
	.u-1-5		{ grid-column: span 6; }
	.u-1-75		{ grid-column: span 7; }
	.u-2			{ grid-column: span 8; }
	.u-2-25		{ grid-column: span 9; }
	.u-2-5		{ grid-column: span 10; }
	.u-2-75		{ grid-column: span 11; }
	.u-7-0		{ grid-column: span 28; }

article {
	margin: 0;
	padding: 5rem 1rem;
	scroll-margin-top: -4rem;
}

article > :first-child {
	margin-top: 0;
}

article > :last-child {
	margin-bottom: 0;
}

section {
	margin: 3rem 0;
}

	#specs section {
		border-radius: var(--radius-standard);
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
		transition: all 0.2s ease;
	}
	
	#specs section:hover {
		box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
	}

footer {
	align-items: stretch;
	justify-content:space-between;
	display: flex;
	margin: 0;
	padding: 0;
}

.footer-info {
	flex: 2;
	padding: 1rem 1rem 2rem 1rem;
}

footer > a {
	align-items: center;
	border-color: var(--color-emphasis);
	border-radius: 0;
	border-style: solid;
	border-width: 0 0 0 1px;
	display: flex;
	flex: 1;
	font-family: var(--font-sans);
	justify-content: center;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s ease;
	width: 100%;
}

footer > a::before {
	content: "\2191";
	font-family: var(--font-serif);
	font-weight: 600;
	position: relative;
	transform: translate(-0.5em, 0);
	transition:
		transform 0.35s cubic-bezier(0.33, 1.65, 0.6, 1.15) 0.05s,
		opacity 0.2s ease;
}

footer > a:hover {
	background-color: var(--color-black-field-lighter);
}

footer > a:hover::before {
	transform: translate(-0.5em, -0.4em);
}

header {
	padding: 0;
	position: relative;
}

nav {
	border-radius: var(--radius-standard);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	margin: 1rem;
	background-color: var(--color-emphasis-lighter);
}



								nav ul {
									background-color: transparent;
									border-top: 1px solid var(--color-emphasis-lighter);
									gap: 1px;
								}
								
								
								nav li {
									border: none;
									transition: all 0.2s ease;
								}
								
								nav li:hover {
									background-color: var(--color-white-shade);
								}

figure {
	margin: 5rem 0;
}

	.product-card figure {
		margin: 0;
	}

#features figcaption {
	width: 75%;
}

	figcaption.right {
		margin-inline: auto 0;
	}
	
	.product-card figcaption {
		margin: 0 1rem 1rem 1rem;
	}

figcaption :last-child {
	margin-bottom: 0;
}

h3,
p {
	margin: 0.5rem 0;
}

	figcaption > * {
		margin: 0.3rem 0;
	}
	
	figcaption :first-child {
		margin: 0.8rem 0 0.3rem 0;
	}

	.product-card p {
		margin: 0;
		text-decoration: none;
	}
	
	footer p {
		margin: 0.2rem 0;
	}
	
	.card-footer {
		display: flex;
		justify-content: space-between;
	}

	.hero-spacer,
	.hero-image-wrapper {
		aspect-ratio: 1 / 1.75;
		height: auto;
		margin: 0;
		width: 100vw;
		top: 0;
		left: 0;
		pointer-events: none;
	}
	
	.hero-spacer {
		position: relative;
		z-index: -1;
	}

	.hero-image-wrapper {
		overflow: hidden;
		position: absolute;
	}
	
	.hero-image-wrapper img {
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: auto;
	}
	
/* MailChimp */

#mc_embed_shell {
	background-color: var(--color-white);
	border: 1px solid var(--color-emphasis);
	border-radius: 0 0 var(--radius-standard) var(--radius-standard);
	margin: -1px 0 0 0;
}

#mc_embed_signup_scroll,
.mc-field-group {
	display: flex;
	flex-direction: column;
}

.mc-field-group label {
	padding-bottom: 0;
}

.mc-field-group input {
	border-style: none;
	color: var(--color-black);
	font-size: inherit;
	line-height: 1.4;
	transition: all 0.2s ease;
}

	.mc-field-group input:focus-visible {
		outline: none;
	}
	
	input::placeholder {
		color: var(--color-emphasis);
	}

.optionalParent .foot {
	display: flex;
	flex-direction: row;
}

.optionalParent .foot * {
	flex: 1;
}

.optionalParent .foot input {
	background-color: var(--color-white);
	border-color: var(--color-emphasis);
	border-radius: 0;
	border-style: solid;
	border-width: 0 1px 0 0;
	box-shadow: none;
	color: var(--color-black);
	font-family: var(--font-sans);
	font-size: var(--font-size-caps);
	font-weight: 400;
	letter-spacing: 0.1em;
	position: relative;
	transition: all 0.2s ease;
}

.optionalParent a {
	opacity: 0.7;
}

.optionalParent .foot input:hover {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.2em;
}

.title-wrapper {
	align-items: stretch;
	display: flex;
	font-size: var(--font-size-title);
	gap: 0.3rem;
	line-height: 1em;
	margin: 3rem 0;
	color: var(--color-black-field);
}

	.subtitle {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-between;
		line-height: 1em;
		padding: .45em 0;
	}




@media (min-width: 640px) {			/* sm; small tablets, large phones (landscape); < 480 would be for smaller phones */
}
@media (min-width: 768px) {			/* md; tablets, small desktops; "start with these two" */
}
@media (min-width: 1024px) {		/* lg; laptops, large tablets (landscape); "start with these two" */
}
@media (min-width: 1280px) {		/* xl; desktops, high-res laptops */
}